:root {
    --h: 40vh;
    --w: 40vh;
}



#displayArea {
    height: var(--h);
    width: var(--w);
    margin: 10vh auto 0 auto;
    padding: 2%;
    border-style: solid;
    background-color: aqua;
}

#gridContainer {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
}

.gridSquares {
    display: flex;
    width: 100%;
    height: 100%;
    border-style: solid;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: calc(var(--h)/5);
}

[id='00']{
    border-top-style: hidden;
    border-left-style: hidden;
}
[id='01'] {
    border-top-style: hidden;
}
[id='02'] {
    border-top-style: hidden;
    border-right-style: hidden;
}
[id='10'] {
    border-left-style: hidden;
}
[id='12'] {
    border-right-style: hidden;
}
[id='20']{
    border-left-style: hidden;
    border-bottom-style: hidden;
}
[id='21'] {
    border-bottom-style: hidden;
}
[id='22'] {
    border-right-style: hidden;
    border-bottom-style: hidden;
}